.cover__subtitle{
  width: 360px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.23;
  text-align: center;
  color: #FFFFFF;
  margin: 32px 0 0 0;
  z-index: 2;
}
@media (max-width: 320px){
  .cover__subtitle{
    width: 288px;
    font-size: 14px;
    line-height: 1.143;
    margin-top: 16px;
  }
}
  