.place__paragraph{
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.667;
  color: #FFFFFF;
  margin: 0;
}
.place__paragraph:last-child{
  margin-top: 24px;
}
@media (max-width: 768px){
  .place__paragraph{
    font-size: 16px;
    line-height: 1.625;
  }
}
@media (max-width: 320px){
  .place__paragraph{
    font-size: 16px;
    line-height: 1.625;
  }
}