.cover__overlay{
  width: 100%;
  min-height: 640px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-decoration: none;
  background-color: rgba(42, 44, 47, 0.3);
  transition: background-color 2s linear;
}
.cover__overlay:hover{
  background-color: rgba(42, 44, 47, 0.8);
}
@media (min-width: 1280px){
  .cover__overlay{
    min-height: 740px;
  }
}
@media (max-width: 768px){
  .cover__overlay{
    min-height: 480px;
  }
}
@media (max-width: 320px){
  .cover__overlay{
    min-height: 200px;
  }
}
  